<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div *ngIf="!isValid">
            <div class="alert alert-danger" role="alert">
                Passwords doesn't match or your token is invalid
            </div>
        </div>

        <div *ngIf="isChanged">
            <div class="alert alert-success" role="alert">
                You can login now using your new password!
            </div>
        </div>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/assets/login-shop-image.png" id="icon" alt="User Icon" />
        </div>
        <hr>
        <!-- Login Form -->
        <form onsubmit="return false;">
            <input type="password" #newPasswordField id="password" class="fadeIn second" name="login" placeholder="New Password" required>
            <input type="password" #confirmPasswordField id="passwordConfirm" class="fadeIn third" name="login" placeholder="Confirm Password" required>
            <input type="submit" (click)="changePassword(newPasswordField.value, confirmPasswordField.value)" class="fadeIn fourth" value="Change password">
        </form>

        <!-- Remind Passowrd -->
    </div>
</div>