<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <app-sidebar></app-sidebar>

    <app-burger-menu></app-burger-menu>

    <app-resize></app-resize>

    <div class="page-container">
        <header class="header-desktop custom-bg">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <app-header-bar></app-header-bar>

                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <!-- <router-outlet></router-outlet>
         -->
        <app-product-list></app-product-list>
        <!-- END MAIN CONTENT-->

    </div>
</div>

<!-- END PAGE CONTAINER-->


<app-footer></app-footer>