<div class="menu-container">
    <h1 class="welcome-message">Admin-panel</h1>
    <div class="button-wrapper">
        <button class="btn btn-danger btn-lg" (click)="signOut()">Logout</button>
    </div>

    <div class="menu-guide">
        <a routerLink="/admin-panel/products"><img src="assets/admin-assets/products.png">Products</a>
        <hr>
        <a routerLink="/admin-panel/categories"><img src="assets/admin-assets/category.png">Categories</a>
        <hr>
        <a routerLink="/admin-panel/users"><img src="assets/admin-assets/users.png">Users</a>
        <hr>
        <a routerLink="/admin-panel/orders"><img src="assets/admin-assets/order.png">Orders</a>
    </div>