<div class="buttons-view">
    <a href="/admin-panel/products" class="backBtn btn-primary"><i class="fa fa-arrow-left"></i></a>
</div>

<form style="width:30%;margin:auto;" id="addProductFrom" class="text-center border border-light p-5">

    <p class="h4 mb-4">Product Form</p>

    <p>Edit product</p>

    <div *ngIf="success" class="alert alert-success" role="alert">
        Updated the product successfully!
    </div>

    <div *ngIf="errorTrue" class="alert alert-danger" role="alert">
        Something went wrong while updating the product :(
    </div>

    <img src="{{product.imageUrl}}" alt="Current product image">


    <input type="text" class="form-control mb-4" (change)="setProductName($event.target.value)" value="{{product.name}}" name="productName" placeholder="Product name" required>

    <label>Price</label>
    <input type="number" class="form-control mb-4" (change)="setPrice($event.target.value)" value="{{product.price}}" name="price" placeholder="Price" required>

    <label>Quantity</label>
    <input type="number" class="form-control mb-4" (change)="setQuantity($event.target.value)" value="{{product.unitsInStock}}" name="quantity" placeholder="Quantity.." required>

    <label>Description</label>
    <textarea type="number" class="form-control mb-4" (change)="setDescription($event.target.value)" value="{{product.description}}" name="description" placeholder="Change product description" required></textarea>

    <input type="file" class="form-control mb-4" (change)="setProductImage($event.target.files)" name="productImage">

    <select class="form-control mb-4" (change)="setActive($event.target.value)">
        <option value="true">Available</option>
        <option value="false">Unavailable</option>
    </select>


    <button class="btn btn-info btn-block" (click)="updateProduct()" type="submit">Save</button>


</form>